<html>

<body style="margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;">
    <div style="width: 100%; background: #efefef; border-radius: 10px; padding: 10px;">
        <div style="margin: 0 auto; width: 90%; text-align: center;">
            <h1
                style="margin: 30px auto; background: white; width: 50%;background-color: #333160; padding: 16px 30px; border-radius: 12px; color: white;">
                {{
                title }}</h1>
            <div
                style="margin: 30px auto; background: white; width: 50%; border-radius: 10px; padding: 30px; text-align: left;">
                <h2>¡Gracias por tu compra!</h2>
                <p style="font-size: 18px;"> <br><br>
                    Hola <strong>{{name}}</strong>,
                    <br><br>
                    Te escribimos para confirmarte que hemos recibido tu pago y que tu compra se ha completado con
                    éxito. ¡Enhorabuena!
                    <br> <br>
                    Aquí tienes el código que has comprado: <span> <strong>{{code}}</strong></span>
                    <br> <br>
                    Con este código, podrás registrarte en nuestra pagina en el siguiente enlace: <a
                        href="https://app-paynompr.onrender.com/registro">Click aquí</a>
                    <br> <br>
                    Esperamos que te guste nuestra app y que la uses mucho. Si tienes alguna duda, sugerencia o
                    problema, no dudes en contactarnos. Estamos aquí para ayudarte.
                    <br> <br>
                    Gracias por confiar en nosotros.
                    <br> <br>
                    El equipo de PaynomPR
                </p>


            </div>
        </div>
    </div>
</body>

</html>